@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--primaryColor: #8dd2bd;
	--secondaryColor: #8f3d5a;
	--navTextColor: #fff;
	--arrowMargin: 10px;
	--fontColor: #000;
	--backgroundColor: #fff;
}

.dark {
	--fontColor: #fff;
	--backgroundColor: #121212;
	--primaryColor: #8f3d5a;
	--secondaryColor: #8dd2bd;
	--navTextColor: #000;
}

body,
html {
	font-family: 'Libre Franklin', sans-serif;
	color: var(--fontColor);
	background-color: var(--backgroundColor);
}

p,
li {
	font-size: clamp(18px, 1.75vw, 22px);
	line-height: 1.4;
}
.contentContainer {
	width: calc(100% - 40px);
	max-width: 1170px;
	margin: 0 auto;
}
